#MainCounter {
  display: flex;
  justify-content: center;
  height: 65vh;
  align-items: center;
  font-size: 60px;
}
#Value {
  display: flex;
  justify-content: center;
  height: 80vh;
  align-items: center;
  font-size: 60px;
}
.button-container {
}
#NumberIncrease {
}
#NumberDecrease {
}
#Reset {
}
.Gen {
    display: inline-flex; /* Makes the button flex container but keeps it inline */
    align-items: center; /* Vertically centers the content */
    justify-content: center; /* Horizontally centers the content */
    text-transform: uppercase;
    background: lightgray; /* Example background */
    border: 1px solid black; /* Adds a border */
    padding: 10px 20px; /* Adds some padding */
    margin: 5px; /* Adds some space between buttons */
    cursor: pointer; /* Changes the cursor to a pointer to indicate it's clickable */
  }
